h1 {
  color: red;
    text-align: center;
    font-style: bold;
    font-style: italic;
    font-family: fantasy;

}

footer {
  color: red;
  text-align: center;
}

a:link {
  color:red;
}

a:visited {
  color:darkslateblue;
}

a:hover {
  font-weight: bold;
  color: lime;
}

a:active: {
  color: deeppink;
  text-decoration: no-underline;
}

body{
  background-color:mistyrose;
}
